.navbar {
  width: 800px;
  padding: 0 20px;
  min-height: 100px;
  position: absolute;
  right: 0;
  /* background-color: red; */
  top: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  will-change: opacity, transform, filter;
  transition: opacity 0.45s cubic-bezier(0.22, 1, 0.36, 1),
              transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
              filter 0.45s cubic-bezier(0.22, 1, 0.36, 1);
}

@media (max-width: 1024px) {
  .navbar {
    justify-content: flex-end;
    gap: 20px;
  }
}


.visible {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  filter: blur(0px);
  z-index: 10;
}

.hidden {
  opacity: 1;
  /* transform: translateY(-50%) scale(0.96) translateY(-8px); */
  /* filter: blur(6px); */
  /* z-index: -1; */
  pointer-events: none;
}
