.navbar {
  width: 800px;
  padding: 0 20px;
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

